{%extends 'core/base.html'%}
{%load course_custom_tag%}
{% load static %}
{%block title%}Course Page {%endblock title%}
{%block css%} 
<link rel="stylesheet" href="{% static 'courses/css/main.css'%}">
{%endblock css%}
{%block js%}
<script src="{% static 'courses/js/course_page.js' %}"></script>
{%endblock js%}
{%block content%} 

    <style>
      .active-link{
        color: rgb(245, 247, 247);
        background-color: rgb(161, 164, 167);
        
      }
      .active-link:hover{
        
        color: rgb(79, 80, 80);
        
        
      }
      a:hover{
        text-decoration: none;
        
        color: rgb(79, 80, 80);
        
      }
      a{
        
        color: rgb(140, 142, 143);
      }
    </style>
    <br>
    <div class="container-fluid">
        <div hidden>
            <p>Selected Course : {{course.name}}</p>
            <p>Selected Course : {{course.description}}</p>
            <p>Selected Course : {{course.price}}</p>
            <p>Selected Course : {{course.discount}}</p>
            <p>Selected Course : {{course.video_set.all}}</p>
            <p>Selected Course : {{course.tag_set.all}}</p>
            <p>Selected Course : {{course.prerequisite_set.all}}</p>
            <p>Selected Course : {{course.learning_set.all}}</p>
        </div>
      <div class="card p-3">
        <div class="row">
            <div class="col">
                <iframe id="player" width="100%" height="315" src="https://www.youtube.com/embed/{{video.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-3">
                <ul class="list-group" id="video-list">             
                    {%for v in videos%}
                        <li class="list-group-item {%if v == video %}active-link{%endif%}">
                          <a href="?lecture={{v.serial_number}}">
                            {{v.title}}
                          </a>
                        </li>

                    {%endfor%}
                   
                </ul>
            </div>
        </div>
      </div>  


        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{course.name}}</h5>
                  <p class="card-text">{{course.description}}</p>
                  
                </div>
              </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Prerequisite:</h5>
                  <ol>
                    {%for pre in course.prerequisite_set.all%}
                        <li>{{pre.description}}</li>  
                    {%endfor%}
                  </ol>
                  
                </div>
              </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Learning</h5>
                  <ol>
                    {%for pre in course.learning_set.all%}
                        <li>{{pre.description}}</li>  
                    {%endfor%}
                    
                  </ol>
                 
                  
                </div>
              </div>
        </div>
        
    </div>
   




{%endblock content%}