{%extends 'core/base.html'%}
{%load course_custom_tag%}
{%load static%}
{%load crispy_forms_tags %}
{%block title%}Login Page {%endblock title%}
{%block css%} 
<link rel="stylesheet" href="{% static 'courses/css/main.css'%}">
{%endblock css%}
{%block js%}

{%endblock js%}
{%block content%} 

    
    <br>
    <div class="container-fluid">
        <h1 class="display-4" style="text-align: center ;">Login Page</h1>
        <hr>
        <div class="form-group">
            <form method="POST">
                {%csrf_token%}
                {{form|crispy}}
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
        

    </div>
   

{%endblock content%}